:root {

    align-items: center;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height:fit-content;

}

.bar-top {

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 8px 30px;

    background-color: hsla(0, 0%, 0%, 0.800);
    box-shadow: 0px 0px 30px 10px hsla(0, 0%, 0%, 0.800);

}

.battle {

    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;

    border: 1px solid red;

    position: absolute;
    top: 45px;
    bottom: 175px;
    left: 0%;
    right: 0%;

}

.actions,
.cards {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 440px;
    bottom: 110px;

    padding: 12px 30px;

    background-color: hsla(0, 0%, 0%, 0.800);
    box-shadow: 0px 0px 30px 10px hsla(0, 0%, 0%, 0.800);

}

.actions {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.cards {

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.estatistics {

    display: flex;
    flex-direction: row;
    justify-content: left;

    position: absolute;
    right: 0%;
    left: 0%;
    top: 505px;
    bottom: 0%;

    padding: 0 30px;

    background-color: hsla(0, 0%, 6.5%, 1);
    box-shadow: 0px 0px 10px 10px hsla(0, 0%, 6.5%, 1);

}

.card-list {

    display: flex;
    flex-direction: row;
    justify-content: center;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 610px;
    bottom: auto;

    padding-top: 20px;

}