:root {

    align-items: center;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height:fit-content;

}

.bar-top {

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 570px;

    /*Para Debug*/
    /* border: 1px solid red; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 8px 30px;

    background-color: hsla(0, 0%, 0%, 0.800);
    box-shadow: 0px 0px 30px 10px hsla(0, 0%, 0%, 0.800);

}

.battle {

    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;

    /*Para Debug*/
    /* border: 1px solid red; */

    position: absolute;
    top: 45px;
    bottom: 175px;
    left: 0%;
    right: 0%;

}

.bar-bottom {

    display: flex;
    flex-direction: row;
    justify-content: center;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 440px;
    bottom: 110px;

    /*Para Debug*/
    /* border: 1px solid red; */

    padding: 12px 30px;

    background-color: hsla(0, 0%, 0%, 0.800);
    box-shadow: 0px 0px 30px 10px hsla(0, 0%, 0%, 0.800);

}

.statistics {

    display: flex;
    flex-direction: row;
    justify-content: left;

    position: absolute;
    right: 0%;
    left: 0%;
    top: 505px;
    bottom: 0%;

    padding: 0 30px;

    background-color: hsla(0, 0%, 6.5%, 1);
    box-shadow: 0px 0px 10px 10px hsla(0, 0%, 6.5%, 1);

    /*Para Debug*/
    /* border: 1px solid red; */

}
