.options .play-button {
    background: none;
    border: none;
    font-family: "Jacquard 12", system-ui;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

@keyframes title-anim {
    0% {text-shadow: 0px 0px 5px red;}
    50% {text-shadow: none;}
    100% {text-shadow: 0px 0px 5px red;}
}

.title {
    font-size: 1.25rem;
    animation: title-anim 10s infinite;
    transition: all 0.3s ease;
}

.title:hover {
    cursor:help;
    transform: rotate(-0.01turn);
    text-shadow: 0px 0px 5px red;
    animation: none;
    transition: all 0.3s ease;
}

.play-button:hover {
    transition: all 0.3s ease;
    transform: scale(1.25);
    text-shadow: 0px 0px 5px red;
    cursor: pointer;
}