:root {
  /* font-family: "Pirata One", system-ui; */
  font-family: "Jacquard 12", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  font-size: 28px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
overflow: hidden;
}