.battleUI-player {
    --progress_bg: #2b2b2b;
    --progress_accent: red;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;
}

.battleUI-player .healthBar {
    width: 92px;
    height: 12px;
    background-color: #141414;
    border-radius: 5px;
    overflow: hidden;
    border: 5px solid black;
}